/* --------- GENERAL --------- */


body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* --------- HEADER --------- */

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-bottom: 1px solid;
}

.myslider {
  height: 500px;
  margin-bottom: 60px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  height: 500px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}

/*
 *
 *  Section
 *
 */

/*
 *
 *  Section
 *
 */

/*
 *
 *  Section
 *
 */


 /*
 *
 *  Footer
 *
 */
