/* --------- GENERAL --------- */


body {
  padding-bottom: 40px;
  color: #5a5a5a;
  font-family: 'Poppins', sans-serif;
}


h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

a {
    color: black;
}

.nav > li > a.active, .nav > li > a.active:focus, .nav > li > a.active:hover {
    background-color:  #827da6 ;
    color: white;
}

article {
     margin: 10px 0 20px ; 
}

/* ---------- couleurs ----------------- */

.dark_purple_bg {
   background-color:  #494e75;
    
}
.light_purple_bg {
   background-color:  #827da6 ;

}
.dark_purple {
   color: #494e75;
    
}
.light_purple {
  color:   #827da6 ;

}
/* --------- HEADER --------- */

header {
    margin-bottom: 20px;
        
}
nav ul li {
  display: flex;
  justify-content: space-around;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 15px;
}

nav ul li a {
  color: black;
  padding: 0 auto;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: rgba(255,255,255,0.5);
  text-decoration: underline;
}

h1 a:focus, h1 a:hover {
   text-decoration: none;
}
  
div.col-xs-9 {
  margin-top: 23px;
}

/*.my_slider {
  height: 500px;
  margin-bottom: 60px;
}
*/
.carousel-inner {
  z-index: 10;
}



/* --------- CATEGORIES PAGE : IMG RESPONSIVE --------- 

@media screen and (min-width:769px) and (max-width:992px){

.thumbnail img  {
  height: 90px;
  width: 100%;
}
}
*/

/* CUSTOMIZE THE PANELS
-------------------------------------------------- */
h3.panel-title {
    font-size: 20px;
    
}

.panel {
  -webkit-box-shadow: none;
  box-shadow: none;  
}

.panel-info {
    /*border-color: goldenrod;*/
    border: none;
}
.panel-info > .panel-heading {
    color:black;
    background: none;
    border: none;
}

/* CUSTOMIZE THE ABOUT ME PANEL
-------------------------------------------------- */
.panel-aboutme .panel-body {
  color:black;
  padding-top:250px;
  background:url(../img/about-me.jpg) no-repeat center -40px;
  background-size: cover;
}

.panel-aboutme .panel-body blockquote {
  background-color:rgba(255, 255, 255, 0.6);
}



/* --------- PAGE CATEGORIES --------- */

.thumbnail p {
  text-align: center;
  font-size: 12px;

}

.opacity {
  opacity: 0.8;
  max-width: 100%;
}

.opacity:hover {
  background-color: #827da6;
  opacity: 1;
}




/* --------- SECTION --------- 
 *
 *
 *
 */
 


/* --------- BUTTONS --------- */
 
.btn-info, .btn-info:hover, input[type=submit], input[type=submit].light_purple_bg:hover {
    border-color: white;
}
.btn-info.light_purple_bg:hover, input[type=submit].light_purple_bg:hover{
    background-color:   #494e75 ;
    
}
.badge {
     background-color:   #827da6 ;
}
.badge:hover {
     background-color:   #494e75 ;
}

/* --------- GALLERY  --------- 
 *
 *
 *
 */
#gallery-page main .row {
    margin-bottom: 20px;
}

/* --------- SECTION --------- 
 *
 *
 *
 */


 /* --------- FOOTER --------- 
 *
 *
 *
 */
 
 @media screen and (min-width:768px)  {
    

      
    #bridges .carousel  .item,
    #monuments-palaces .carousel .item,
    #statues .carousel .item,
    #others .carousel .item {
            height: 370px;
    }
      
      

}
@media (max-width: 480px) {

 
    #museums.carousel  .item,
    #bridges .carousel  .item,
    #monuments-palaces .carousel .item,
    #places-worship .carousel  .item,
    #statues .carousel .item,
    #others .carousel .item {
            height: 170px;
    }
}