/*
 *
 * Common styles
 *
 */

body {

}

/** {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}*/



/*
 *
 * Navigation
 *
 */


/*
 *
 * Header
 *
 */


/*
 *
 * Welcome Section
 *
 */


 /*
 *
 *  Footer
 *
 */
